/* William Graham */

body{
    background-color: #191818;
} 
.img{
    max-width: 100%;
    height: auto;
}
h1{
    font-size: x-large;
    color: white;
    border: 1px solid #712231;
}
p{
    font-size: larger;
    color: white;
}
